/*{border: red 1px solid;}  */
body {
	display: flex;
	flex-direction: column;
	height: 100vh;
	margin: 0;
    font-family: 'Roboto', sans-serif;
}
.header , .footer {
    display: flex;
    color: white;
    background-color:#1F2937 ;
   
}
.header{
    flex-direction: column;
    padding: 10px 150px 120px;
    
}
.top{
    display: flex;
    justify-content: space-between;
    padding-bottom: 10%;
    align-items: center;

}
.left{ font-size: 24px; font-weight: 900; }    
.right{
    display: flex;
    gap: 45px;
    font-size: small;
    
}
.bottom {
    display: flex;
    gap: 100px;
}
.hero{
    flex: 1;
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
    

}
.htext{
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}
.para{font-size: 18px; color: #E5E7EB;flex: 1; }
button{background-color: rgb(54, 107, 168);border-radius: 5px;
    font-size: 18px; font-weight: 900;
    margin: 0;
    padding: 0;
    text-decoration: none; border: 0;
           color: #E5E7EB; flex-shrink: 1; flex-grow: 0; height: 30px; width: 110px;
        }

.heropic{
    flex: 1;
    width: 0;
}
.barnpic{
    width: -moz-available;
    height: 250px;
}

.pics {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 150px 120px;
}
.pictitle{
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    padding: 30px;
}
.cards{display: flex;
        width: 100%;
        justify-content: space-between;
        }
.card{
    display: flex;
    flex-direction: column;
    box-shadow: 12px 13px 19px -1px rgba(0,0,0,0.75);
    border-radius: 5px;
    color: dimgrey;
    font-size: small;
    font-style: italic;
    flex-wrap: wrap;
    
}
.card > * { width: 200px; }

a {
    text-decoration: none;
    color: white;
}